@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    

:root {
    --color-green: #149414;
    --color-black: #000000;
    --color-white: #FFFFFF;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    padding: 15px 30px;
    position: fixed;
    background: transparent;
    transition: all .3s ease;
    z-index: 2;

}


.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: var(--color-green);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover{
    opacity: .8;

}

.navbar {
    max-width: 350px;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-green);
    font-size: 1.4rem;
    font-weight: 700;
}

.mobile-menu-icon {
    display: none;
}

.menu {
    display: none;
}

/* Começo Person*/
#person {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: #000000;
}

.person-content {
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    
}

.person-name {
    font-size: 4.5rem;
    padding: 0px 4px;
    color: #fff;
    position: relative;
    margin-top: 11rem;
}

.typing {
    color: #149414;
    font-family: monospace;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(23),
    blinking 0.5s infinite step-end alternate;

}

.person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #149414;
    width: 0%;
    height: 50%;
    animation: written_text_box 1s ease;
    animation-delay: .5s;

}

.stacks-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 6rem;

}

.stacks-content h3 {
    color: #149414;
    font-size: 1.15rem;
    margin-right: 0.2rem;

}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.stacks ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 10px;
    list-style: none;

}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;
    
}

.stacks ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;

}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: #fff;

}

.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/backtest.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;

    z-index: 1;


}

.person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: 
    linear-gradient(270deg, transparent 30%, var(--color-black)),
    linear-gradient(180deg, transparent 30%, var(--color-black)),
    linear-gradient(0deg, transparent 65%, var(--color-black));
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    margin: 20px 15px;

}

.profile-photo {
    width: 45%;
    border-radius: 50%;
    
}

.links a img {
    width: 30px;
    height: 30px;
    margin: 10px;
    filter: brightness(.8);
    transition: all .3s ease;

}

.links a img:hover {
    transform: scale(1.15);
    filter: brightness(1);

}
/*Fim Person*/

/*Começo Sobre*/
#about {
    height: 100%;
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    color: var(--color-white);
}

.background-about {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
        linear-gradient(.25turn, transparent 30%, var(--color-black)),
        linear-gradient(.5turn, transparent 30%, var(--color-black)),
        linear-gradient(1turn, transparent 65%, var(--color-black));
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
}

.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
}

.section-subtitle h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--color-black);
    background: var(--color-white);
}

.box-about h3 {
    margin: 3rem;
    font-size: 2rem;
}

.box-about h3 p {
    display: inline-block;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--color-black);
    background-color: var(--color-green);
}

.box-about h4 {
    margin: 1rem 3rem;
    font-size: 1.5rem;
}

.box-about h4 p {
    display: inline;
    padding: 2px 4px;
    color: var(--color-green);
}

.button-cta {
    display: flex;
    max-width: 190px;
    margin: 4rem 3rem;
}

.button-cta a {
    display: inline-block;
    width: 100%;
    max-width: 172px;
    padding: 10px;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    letter-spacing: .10rem;
    background: var(--color-white);
    text-align: center;
    text-decoration: none;
    color: var(--color-black);
    border-radius: 10px;
    cursor: pointer;
}

.button-cta a:hover {
    transition: all .3s ease;
    filter: brightness(.8);
}
/*Fim Sobre*/

/*Projects*/
#projects {
    height: 100vh;
    width: 100%;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
}

.projects-title h2 {
    margin: 3rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
}

/*.wrapper-projects {
     display: flex;
    margin-top: 2rem;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--color-black); 
} */

.container-projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    height: 100%;
    width: 100%;
    width: 1020px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 500px;
    margin-top: 2rem;
}

.card-project {
    /*width: 320px;
    height: 100%;
    width: 100%;
    height: 450px; */
    padding: 30px 20px 20px;
    /* margin: 0px 10px; */
    background: var(--color-white);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.card-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: var(--color-green);
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
}

/* .content-project {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
} */

.image-project {
    max-height: 240px;
    max-width: 250px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    border: 4px solid var(--color-green);
    margin: 0 auto;
    position: relative;
}

.image-project img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--color-white);
    transition: transform .3s ease-out;
    cursor: pointer;
}

.image-project a img:hover {
    transform: scale(1.1);
}

.card-project span {
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.7rem;
    margin: .75rem auto .5rem auto;
}

.card-project p {
    color: #3d3d4b;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem .75rem;
    display: flex;
    justify-content: center;
}

.cta-project {
    width: 200px;
    margin: auto auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-project a {
    padding: 5px 16px;
    font-size: 1.25rem;
    color: var(--color-white);
    background: var(--color-green);
    border-radius: 10px;
    text-decoration: none;
    transition: opacity .3s ease;
}

.cta-project a:hover {
    opacity: .7;
}
/*Fim Projects*/

/*Contatos*/
#contacts {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background: var(--color-black);
    color: var(--color-white);
}

.contact-content h2 {
    margin: 3rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--color-white);
    display: flex;
    justify-content: center;
}

.contact-icons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.contact-icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 50%;
}

.contact-icon i {
    font-size: 2rem;
    color: var(--color-black);
}

.contact-info span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-white);
}

.contact-info p {
    margin: .25rem 0rem;
}

.contact-info a {
    margin: .25rem 0rem;
    text-decoration: none;
    display: block;
    color: var(--color-white);
}

.contact-info a:hover {
    transition: color .3s ease;
    color: var(--color-green);
}
/*Fim-Contatos*/

/*Footer*/
#footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #191919;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}
/*Fim-Footer*/

@media screen and (max-width: 1300px) {
    .person-name h1 {
        font-size: 5rem;
    }
} 

@media screen and (max-width: 768px) {

    .header-title h1 {
        font-size: 2.5rem;
    }

    .navbar ul li a {
        font-size: 2rem;
    }

    
    .person-content {
        height: 100%;
        width: 50%;
        padding: 0px 10px;
    }

    .person-content h1 {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .typing {
        font-size: 2.8rem;
        align-items: center;
        justify-content: center;
    }

    .stacks-content {
        justify-content: center;
    }

    .stacks-content h3 {
        font-size: 2rem;
    }

    .stacks ul li img{
        width: 40px;
        height: 40px ;
    }

    .profile-photo{
        width: 50%;
    }
    
    .links a img {
        width: 40px;
        height: 40px;
    }

    .section-subtitle h2 p {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 600px) {
    
    .person-content{
        height: 100%;
        width: 50%;
        padding: 0px 15px;
    }

    .person-content h1 {
        font-size: 2.4rem;
        
    }

    .typing {
        font-size: 2.4rem;
        padding: 0px 15px;
        text-align: center;
        align-items: center;

    }

    .person-background {
        width: 50%;
        height: 100%;
    }

    .profile-photo {
        width: 50%;
    }

    .stacks-content {
        justify-content: center;
        align-items: center;
    }

    .stacks-content h3 {
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;
    }

    .stacks ul li img {
        width: 30px;
        height: 30px;
    }

    .links a img {
        width: 30px;
        height: 30px;
        margin-top: 30px;
    }

    .section-subtitle h2 p {
        font-size: 1.9rem;
    }

    .box-about h3 {
        font-size: 1.7rem;
    }

    .box-about h4 {
        font-size: 1.2rem;
    }

    .container-projects{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        width: 100%;
        overflow: hidden;
    }

}

@media screen and (max-width: 360px) {
    
    .navbar {
        display: none;
    }

    .person-background {
        display: none;
    }

    .person-background::after {
        display: none;
    }

    .person-content {
        width: 100%;
        height: 100%;
        display: flex;

    }
    .person-name h1 {
        font-size: 3rem;
    }

    .typing {
        font-size: 2.6rem;
        padding: 0rem 0rem 2rem;
    }
    
    .stacks-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
        margin-right: 0rem;
    }

    .background-about {
        display: none;
    }

    .box-about {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-title h2 {
        font-size: 2.6rem;
    }

    .contact-content h2 {
        font-size: 2.6rem;
    }

    .contact-icon-content {
        margin: 0rem 1rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .contact-icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: .4rem;
        background: var(--color-white);
        padding: 1rem;
        border-radius: 50%;
    }

    .container-footer{
        font-size: .8rem;
    }
}

@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }

}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }
    100%    {
        width: 0;
        left: 100%;
    }

}